<p>
  card-detail works!
</p>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="selectedCard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ getText(selectedCard.english) | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image width="250px" src={{selectedCard.default}} alt="No Image">
    <mat-card-content>
      <p [innerHTML]="selectedCard.english"></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>